.nav-bar {
  display: flex;
  justify-content: space-between; /* Ou center si tu préfères */
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%; /* Important ! */
  background-color: #0098f3;
  z-index: 4;
  padding: 0 20px; /* Pour éviter que le contenu colle au bord */
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Supprimer le margin trop large */
}
.container-logo-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.h2-logo{
  padding-top: 6px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.social-media-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  padding: 5px;
  color: white;
}

.nav-list {
  display: flex;
  gap: 10px;
  padding: 20px;
  font-size: 20px;
  margin: 0; /* Supprimer le margin-right */
}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  color: white;
}
.social-media-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}
.fi-social {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

/* --------style css du bouton dark/white mode-------- */
.mode{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-style {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  background-color: #0098F3;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s, color 0.3s;
}

.button-style:hover {
  background-color: #0077c8;
}

/* En mode sombre */
body.dark-mode #darkModeToggle {
  background-color: #333;
  color: #fff;
}

body.dark-mode #darkModeToggle:hover {
  background-color: #555;
}


/* === MODE SOMBRE NAVBAR === */
body.dark-mode .nav-bar {
  background-color: #1f1f1f;
}

body.dark-mode .nav-link,
body.dark-mode .logo-text,
body.dark-mode .h2-logo,
body.dark-mode .social-media-logo,
body.dark-mode .fi-social {
  color: #f1f1f1;
}

body.dark-mode .nav-link:hover {
  color: #67addb;
}
.dark-mode .fi-social:hover {
  color: #67addb;
}

/* === MODE SOMBRE BOUTON DARK/WHITE === */
body.dark-mode .button-style {
  background-color: #444;
  color: #f1f1f1;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

body.dark-mode .button-style:hover {
  background-color: #666;
}

/* Tu peux aussi améliorer un peu l'effet d'ombre générale si tu veux */
body.dark-mode .nav-bar,
body.dark-mode .button-style {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.menu{
  display: none;
  padding-left: 6px;
  width: 50px;
}