.secret-container {
    padding: 40px;
    background-color: #f9f9f9;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
th, td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
}
.delete-link {
    color: red;
    text-decoration: none;
}
.delete-link:hover {
    text-decoration: underline;
}