@media (max-width: 768px) {

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .card-container {
    gap: 15px;
    padding: 15px;
  }

  .card {
    width: 100%;
    flex: 1 1 calc(50% - 15px);
  }

  .card-content h2 {
    font-size: 1.3rem;
  }

  .card-content p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .card {
    flex: 1 1 100%;
  }

  .card-content h2 {
    font-size: 1.2rem;
  }

  .card-content p {
    font-size: 0.8rem;
  }
}